<marquee width="60%" direction="left" height="100px">
    <h1><br>   
        <% for (var i=0; i< JSON.stringify(comment.length); i++){ %> 
        
                <%=comment[i].comment %> &nbsp;     
            <% } %>  
</h1>
    </marquee>

  